<div class="row">
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-3 mb-2">
        <a href="#" class="HomeBox1 shadow-sm">
            <div class="HomeBox1Icon BgGreen">
                <i class="bi bi-chat-dots-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>1596</h3>
                <span>کامـــنت ها</span>
            </div>
        </a>
    </div>
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-3 mb-2">
        <a href="#" class="HomeBox1 shadow-sm">
            <div class="HomeBox1Icon BgRed">
                <i class="bi bi-heart-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>14</h3>
                <span>پســــندها</span>
            </div>
        </a>
    </div>
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-3 mb-2">
        <a href="#" class="HomeBox1 shadow-sm">
            <div class="HomeBox1Icon BgBlue">
                <i class="bi bi-chat-dots-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>22</h3>
                <span>تیــــکت ها</span>
            </div>
        </a>
    </div>
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-3 mb-2">
        <a href="#" class="HomeBox1 shadow-sm">
            <div class="HomeBox1Icon BgYellow">
                <i class="bi bi-basket-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>589</h3>
                <span>فروش ها</span>
            </div>
        </a>
    </div>
</div>