<div class="row tehranit-box1">
    <!--itemBox-->
    <div class="col-12">
        <div class="content-box HomeBoxTable">
            <div class="title-box">
                <span>آخرین رخداد های تجهیزات</span>
                <i class="bi bi-person-fill"></i>
            </div>
            <!--strat table-->
            <div class="table-responsive tehranit-table">
                <table class="table align-middle table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">تصویر</th>
                            <th scope="col">پلاک فناوری  </th>
                            <th scope="col">پلاک مدیریت</th>
                            <th scope="col">نوع تجهیزات</th>
                            <th scope="col">نام دستگاه</th>                            
                            <th scope="col">مدل</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">فعالیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <img src="assets/Image/design/user/b1.jpg" />
                            </td>
                            <td>9900092151</td>
                            <td>1218</td>
                            <td>پرینتر</td>
                            <td>HP</td>
                            <td>M-501</td>
                            <td>اسقاط</td>
                            <td class="text-center">
                                <i class="bi bi-check-circle text-success"></i>
                            </td>
                            <td class="text-center">
                                <i class="bi bi-gender-male text-info"></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="ati ati-view"><i class="bi bi-eye-fill"></i></a>
                                <a href="#" class="ati ati-edit"><i class="bi bi-pencil-fill"></i></a>
                                <a href="#" class="ati ati-remove"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <img src="assets/Image/design/user/g1.jpg" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <i class="bi bi-x-circle text-danger"></i>
                            </td>
                            <td class="text-center">
                                <i class="bi bi-gender-female text-danger"></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="ati ati-view"><i class="bi bi-eye-fill"></i></a>
                                <a href="#" class="ati ati-edit"><i class="bi bi-pencil-fill"></i></a>
                                <a href="#" class="ati ati-remove"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--end table-->
        </div>
    </div>
</div>