<div class="row tehranit-box">
    <!--itemBox-->
    <div class="col-12">
        <div class="content-box HomeBoxTable">
            <div class="title-box">
                <span>آخرین کاربران </span>
                <i class="bi bi-person-fill"></i>
            </div>
            <!--strat table-->
            <div class="table-responsive tehranit-table">
                <table class="table align-middle table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">تصویر</th>
                            <th scope="col">شماره پرسنلی</th>
                            <th scope="col">نام و نام خانوادگی</th>
                            <th scope="col"> شعبه</th>
                            <th scope="col">سمت</th>
                            <th scope="col">شهر</th>
                            <th scope="col">وضعیت</th>
                            <th scope="col">فعالیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <img src="assets\Image\Icon\man.png"  />
                            </td>
                            <td>1111223</td>
                            <td>حمید حمیدیان</td>
                            <td>مرکزی شهر ری</td>
                            <td>رییس شعبه</td>
                            <td>تهران</td>
                            <td class="text-center">
                                <i class="bi bi-check-circle text-success"></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="ati ati-view"><i class="bi bi-eye-fill"></i></a>
                                <a href="#" class="ati ati-edit"><i class="bi bi-pencil-fill"></i></a>
                                <a href="#" class="ati ati-remove"><i class="bi bi-trash3-fill"></i></a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <!--end table-->
        </div>
    </div>
</div>