<div class="row tehranit-box">
    <!--item HomeBox2-->
    <div class="col-12 col-md-7">
        <div class="content-box">
            <div class="title-box">
                <span>آخرین مطالب آموزشی</span>
                <i class="bi bi-send-arrow-up"></i>
            </div>
            <div class="HomeBox2">
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p8.jpg" />
                    <h4>شایعات جدید از توان مصرفی بالاتر کارت‌های گرافیک RTX 50 حکایت دارند</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p2.jpg" />
                    <h4>چالش‌ها و فرصت‌های سرمایه‌گذاری در ارزهای دیجیتال برای گیمرها – بیت ۲۴</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p3.jpg" />
                    <h4>سونی نسبت به موفقیت بازی $Fairgame بسیار خوشبین است</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p4.jpg" />
                    <h4>سونی معتقد است که پلی استیشن به اندازه کافی آی پی اورجینال ندارد</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p5.jpg" />
                    <h4>با لغو پروژه جدید سازنده Risk of Rain، اعضای آن به Valve پیوستند</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p6.jpg" />
                    <h4>طراحی Star Wars Outlaws با الهام از سه‌گانه سینمایی اورجینال انجام شده است</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <img src="assets/Image/design/post/p7.jpg" />
                    <h4>صداپیشه آرتور مورگان در RDR2 برای ایفای نقش این شخصیت ابراز علاقه کرد</h4>
                    <i class="bi bi-link-45deg"></i>
                </a>
            </div>
        </div>
    </div>
    <!--item HomeBox2-->
    <div class="col-12 col-md-5">
        <div class="content-box">
            <div class="title-box">
                <span>آخرین کامنـــت های ارسال شده</span>
                <i class="bi bi-chat-quote-fill"></i>
            </div>
            <div class="HomeBox2">
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>شایعات جدید از توان مصرفی بالاتر کارت‌های گرافیک RTX 50 حکایت دارند</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>چالش‌ها و فرصت‌های سرمایه‌گذاری در ارزهای دیجیتال برای گیمرها – بیت ۲۴</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>سونی نسبت به موفقیت بازی $Fairgame بسیار خوشبین است</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>سونی معتقد است که پلی استیشن به اندازه کافی آی پی اورجینال ندارد</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>با لغو پروژه جدید سازنده Risk of Rain، اعضای آن به Valve پیوستند</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>طراحی Star Wars Outlaws با الهام از سه‌گانه سینمایی اورجینال انجام شده است</h4>
                </a>
                <!--item-->
                <a href="#" class="HomeBox2Item">
                    <div class="HomeBox2Icon">
                        <i class="bi bi-chat-dots-fill"></i>
                    </div>
                    <h4>صداپیشه آرتور مورگان در RDR2 برای ایفای نقش این شخصیت ابراز علاقه کرد</h4>
                </a>
            </div>
        </div>
    </div>
</div>