<div class="row">
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-4 mt-2 HomeBox3-div">
        <a href="#" class="HomeBox3 BgGreen">
            <div class="HomeBox1Icon">
                <i class="bi bi-person-plus-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>افــزودن کابر جدید</h3>
            </div>
        </a>
        <a href="#" class="HomeBox3 BgBlue2">
            <div class="HomeBox1Icon">
                <i class="bi bi-bag-plus-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>افــزودن تجهیزات جدید</h3>
            </div>
        </a>
    </div>
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-4 mt-2 HomeBox3-div">
        <a href="#" class="HomeBox3 BgYellow">
            <div class="HomeBox1Icon">
                <i class="bi bi-journal-plus"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>افــزودن پست جدید</h3>
            </div>
        </a>
    </div>
    <!--itemBox-->
    <div class="col-12 col-md-6 col-lg-4 mt-2 HomeBox3-div">
        <a href="#" class="HomeBox3 BgBlue">
            <div class="HomeBox1Icon">
                <i class="bi bi-chat-left-dots-fill"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>افــزودن تیکت جدید</h3>
            </div>
        </a>
        <a href="#" class="HomeBox3 BgRed">
            <div class="HomeBox1Icon">
                <i class="bi bi-database-fill-add"></i>
            </div>
            <div class="HomeBox1Des">
                <h3>افــزودن دیتابیس جدید</h3>
            </div>
        </a>
    </div>
</div>