<footer class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="TehranITfooter">
                <i class="bi bi-c-circle-fill"></i>
                <span>کلیه حقوق مادی و معنوی اثر متعلق به </span>
                <a href="http://tehranit.net/">تــهران آی تی</a>
                <span>میباشد.</span>
            </div>
        </div>
    </div>
</footer>