<meta charset="utf-8" />
<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="~/assets/Image/Logo/TehranIT.png">
<title>@ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--MyCss-->
@* <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/assets/fonts/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
<link href="~/assets/fonts/vazir/Font-Vazir.css" rel="stylesheet" />
<link href="~/assets/css/TehranIt.css" rel="stylesheet" /> *@
<link href="~/bundel/site.min.css" rel="stylesheet" asp-append-version="true"/>