<div class="navbar-top d-flex justify-content-between align-items-center">
    <div class="navbar-top-r"> <i class="bi bi-list tehranit-nav-btn"></i></div>
    <div class="navbar-top-l">
        <!--profile-->
        <div class="dropdown">
            <img src="~/assets/Image/design/user/b5.jpg" class="dropdown-top-img-icon" data-bs-toggle="dropdown" aria-expanded="false" />
            <ul class="dropdown-menu navbar-top-dropdown-menu shadow">
                <li class="header">
                    <div class="flex-box">
                        <img src="~/assets/Image/design/user/b5.jpg" />
                        <div class="text-center dropdown-email">
                            <div>محمدرضا احدیان</div>
                            <span>ahadian2@gmail.com</span>
                        </div>
                    </div>
                </li>
                <li class="body">
                    <ul class="profile">
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-person-fill"></i>
                                <span>نمایه من</span>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-bag-heart-fill"></i>
                                <span>موجودی من</span>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-chat-dots-fill"></i>
                                <span>پیام های من</span>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-gear-fill"></i>
                                <span>تنظیمات اکانت</span>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-exclamation-circle-fill"></i>
                                <span>خروج</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="#">نمایش نمایه</a>
                </li>
            </ul>
        </div>
        <!--message-->
        <div class="dropdown">
            <i class="bi bi-envelope-fill navbar-top-icon" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div class="spinner-grow text-danger navbar-top-alarm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ul class="dropdown-menu navbar-top-dropdown-menu shadow">
                <li class="header">
                    <div class="flex-box">
                        <span>5 پیام جدید</span>
                        <i class="bi bi-envelope-fill"></i>
                    </div>
                </li>
                <li class="body">
                    <ul class="Message">
                        <!--item-->
                        <li class="active-message">
                            <a href="#" class="d-flex flex-row align-items-center">
                                <div class="img">
                                    <img src="~/assets/Image/design/user/b1.jpg" />
                                </div>
                                <div class="des">
                                    <div class="d-flex flex-row justify-content-between header-item">

                                        <div class="title">
                                            <div class="spinner-grow text-danger" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            محمدرضا احدیان
                                        </div>
                                        <div>
                                            <i class="bi bi-alarm"></i>
                                            <span>15 دقیقه</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <div class="img">
                                    <img src="~/assets/Image/design/user/b2.jpg" />
                                </div>
                                <div class="des">
                                    <div class="d-flex flex-row justify-content-between header-item">
                                        <div class="title">علی علیان</div>
                                        <div>
                                            <div class="spinner-grow text-danger" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <i class="bi bi-alarm"></i>
                                            <span>55 دقیقه</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <div class="img">
                                    <img src="~/assets/Image/design/user/g1.jpg" />
                                </div>
                                <div class="des">
                                    <div class="d-flex flex-row justify-content-between header-item">
                                        <div class="title">هدی نظری یکه باغی</div>
                                        <div>
                                            <div class="spinner-grow text-danger" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <i class="bi bi-alarm"></i>
                                            <span>1 روز</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li class="active-message">
                            <a href="#" class="d-flex flex-row align-items-center">
                                <div class="img">
                                    <img src="~/assets/Image/design/user/g2.jpg" />
                                </div>
                                <div class="des">
                                    <div class="d-flex flex-row justify-content-between header-item">
                                        <div class="title">
                                            <div class="spinner-grow text-danger" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            معصومه زارع
                                        </div>
                                        <div>

                                            <i class="bi bi-alarm"></i>
                                            <span>2 روز</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="#">مشاهده همه پیام ها</a>
                </li>
            </ul>
        </div>
        <!--notification-->
        <div class="dropdown">
            <i class="bi bi-bell-fill navbar-top-icon" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div class="spinner-grow text-danger navbar-top-alarm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ul class="dropdown-menu navbar-top-dropdown-menu shadow">
                <li class="header">
                    <div class="flex-box">
                        <span>6 اطلاعیه های جدید</span>
                        <i class="bi bi-bell-fill"></i>
                    </div>
                </li>
                <li class="body">
                    <ul class="notification">
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-alarm"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-gift-fill"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-gitlab"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-fan"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-alarm"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-dice-6-fill"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="d-flex flex-row align-items-center">
                                <i class="bi bi-database-fill-add"></i>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="footer">
                    <a href="#">مشاهده همه اطلاعیه ها</a>
                </li>
            </ul>
        </div>
        <!--tasks-->
        <div class="dropdown">
            <i class="bi bi-clipboard2-heart-fill navbar-top-icon" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <div class="spinner-grow text-danger navbar-top-alarm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <ul class="dropdown-menu navbar-top-dropdown-menu shadow">
                <li class="header">
                    <div class="flex-box">
                        <span>8 وظایف جدید</span>
                        <i class="bi bi-clipboard2-heart-fill"></i>
                    </div>
                </li>
                <li class="body">
                    <ul class="tasks">
                        <!--item-->
                        <li>
                            <a href="#" class="">
                                <div class="d-flex flex-row justify-content-between">
                                    <span> تکمیل محتوای محصولات</span>
                                    <span>80%</span>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-success" style="width: 80%"></div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="">
                                <div class="d-flex flex-row justify-content-between">
                                    <span>  بروزرسانی اکستنشن ها</span>
                                    <span>65%</span>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-info" style="width: 65%"></div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="">
                                <div class="d-flex flex-row justify-content-between">
                                    <span>افزودن دیتابیس جدید</span>
                                    <span>25%</span>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-warning" style="width: 25%"></div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="">
                                <div class="d-flex flex-row justify-content-between">
                                    <span> تکمیل محتوای سفارشی</span>
                                    <span>100%</span>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-danger" style="width: 100%"></div>
                                </div>
                            </a>
                        </li>
                        <!--item-->
                        <li>
                            <a href="#" class="">
                                <div class="d-flex flex-row justify-content-between">
                                    <span> بک آپ گیری از اطلاعات</span>
                                    <span>95%</span>
                                </div>
                                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar bg-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="footer">
                    <a href="#">مشاهده همه وظایف</a>
                </li>
            </ul>
        </div>
        <!--setting them-->
        <i class="darkicon bi bi-gear-fill" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></i>
        <div class="offcanvas offcanvas-end settingThem" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"></h5>
                <i class="bi bi-x-lg btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></i>
            </div>
            <div class="offcanvas-body">
                <h3>
                    <i class="bi bi-gear-fill"></i>
                    <span>تنــظیــمات قـالــب</span>
                </h3>
                <div class="form-check form-switch d-flex justify-content-between p-0 mb-5">
                    <label class="form-check-label" for="flexSwitchCheckDefault">فعال سازی حالت دارک مد</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="switch-darkMode">
                </div>
                <h3>
                    <i class="bi bi-palette-fill"></i>
                    <span>پوســته های قـالــب</span>
                </h3>
                <div class="theme_colors">
                    <div class="row mb-4">
                        <!--item-->
                        <div class="col" onclick="get_theme('blue', 'light');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #00bcd4;"></span>
                                    <span class="d-block" style="height: 60px; background: #c7c7c7;"></span>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col" onclick="get_theme('blue', 'dark');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #00bcd4;"></span>
                                    <span class="d-block" style="height: 60px; background: #545454;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <!--item-->
                        <div class="col" onclick="get_theme('purple', 'light');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #673ab7;"></span>
                                    <span class="d-block" style="height: 60px; background: #c7c7c7;"></span>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col" onclick="get_theme('purple', 'dark');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #673ab7;"></span>
                                    <span class="d-block" style="height: 60px; background: #545454;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <!--item-->
                        <div class="col" onclick="get_theme('green', 'light');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #009688;"></span>
                                    <span class="d-block" style="height: 60px; background: #c7c7c7;"></span>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col" onclick="get_theme('green', 'dark');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #009688;"></span>
                                    <span class="d-block" style="height: 60px; background: #545454;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <!--item-->
                        <div class="col" onclick="get_theme('red', 'light');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #f44336;"></span>
                                    <span class="d-block" style="height: 60px; background: #c7c7c7;"></span>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col" onclick="get_theme('red', 'dark');">
                            <div class="d-flex shadow theme_color">
                                <span class="w-25 bg-dark" style="height:80px"></span>
                                <div class="w-75">
                                    <span class="d-block" style="height: 20px; background: #f44336;"></span>
                                    <span class="d-block" style="height: 60px; background: #545454;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 start-0 p-3 themToast">
            <div id="themToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-bell-fill rounded me-2"></i>
                    <strong class="me-auto">بـــروزرسانی پــنل</strong>
                    <small></small>
                    <i class="bi bi-x-lg btn-close" data-bs-dismiss="toast" aria-label="Close"></i>
                </div>
                <div class="toast-body">
                    داشبورد مدیریتی تهران آی تی بروز شد.
                </div>
            </div>
        </div>
        <!--end setting them-->
    </div>
</div>