<div class=" px-3 px-lg-5 w-100">
    <div class="col-12 mb-2">
        <a href="#" class="login-socia-btn" style="background: #344e86">
            <span>ورود با فیسبوک</span>
            <i class="bi bi-facebook"></i>
        </a>
    </div>
    <div class="col-12 mb-2">
        <a href="#" class="login-socia-btn" style="background: #0d95e8">
            <span>ورود با توییتر</span>
            <i class="bi bi-twitter"></i>
        </a>
    </div>
    <div class="col-12">
        <a href="#" class="login-socia-btn" style="background: #e82e1e">
            <span>ورود با گوگل</span>
            <i class="bi bi-google"></i>
        </a>
    </div>
</div>